<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="style.css">
  <title>Edit Learning Journey</title>

  <!-- Vue 2 -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10"></script>
  <!-- Axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light custombg">
		<a class="navbar-brand" href="#">Learning Journey Planning System</a>
		<div class="navbar-nav">
			<div class="nav-item active">
				<a class="nav-link" href="homepage.html">Home</a>
			</div>
			<div class="navbar-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="browseDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Browse
				</a>
				<div class="dropdown-menu" aria-labelledby="browseDropdown">
					<a class="dropdown-item" href="view_courses.html">Courses</a>
					<a class="dropdown-item" href="view_positions.html">Roles</a>
					<a class="dropdown-item" href="search_skill.html">Skills</a>
				</div>
			</div>
		</div>
		<div class="navbar-item ml-auto">
			<a class="nav-link" href="#" onclick="clearSession()">Logout</a>
		</div>
	</nav>

  <div class="container" id="app">
    <div class="row d-flex justify-content-center">
      <div class="border p-4 m-4"> You are editing {{position_name}} Learning Journey</div>
    </div>

    <div class="row d-flex justify-content-center"><p class="text-danger">{{error}}</p></div>
    <h2>Learning Journey</h2>

    <div class = "row d-flex justify-content-center">

      <table class="table border">

        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Skill</th>
            <th scope="col">Course(s)</th>
          </tr>
        </thead>

          <tbody>

            <tr v-for="(skill_set, index) in skill_sets">
              <th>{{index+1}}</th>
              <td>{{skill_set.Skill_Name}}</td>
              <td>
                <div v-for="(course, i) in skill_courses[index]" v-model="selected_courses">
                  <input type="checkbox" :id="course['Course_ID']" :value="course" v-model="selected_courses">
                  <label :for="course['Course_ID']">{{course['Course_ID']}}</label> 
                </div>
              </td>
            </tr>
            
          </tbody>
        </table>
  </div>


    <div class = "row d-flex justify-content-end">
        <button type="button" class="btn btn-danger" @click="update_learning_journey">Submit</button>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <script>

    var vm = new Vue({
      el: '#app',
      data: {
        response: [],
        position_name: "",
        skill_sets: [],
        skill_rewarded: [],
        selected_courses: {},
        lj_id_list: [],
        staff_id: "",
        skill_sets: [],
        skill_courses: [],
        selected_courses: [],
        error: "",
      },
      mounted: function () {
        var staff = JSON.parse(sessionStorage.getItem("staff"));
        this.staff_id = staff.staff_id;
        this.position_name = sessionStorage.getItem("position_name");
        this.lj_id_list = JSON.parse(sessionStorage.getItem("lj_id_list"));
        console.log("lj_id_list", this.lj_id_list);
        let config = {
          method: 'get',
          url: "http://127.0.0.1:5000/skill_set/" + this.position_name,
          }
          axios(config) // get skill needed by position Name
          .then(function (response) {
            vm.skill_sets = response.data.data["Skill_Set"];
            for (i=0; i<vm.skill_sets.length; i++){
              //for each skill set, get skill name and associated courses
              vm.get_skills_rewarded(vm.skill_sets[i]["Skill_Name"], i); 
            } 
          });
      },
      methods: {
        get_skills_rewarded: function(skill_name, i){
          //get skills rewarded based on skill name
          axios({
          method: 'get',
          url: "http://127.0.0.1:5000/view_course_skills/get_course/" + skill_name,
          headers: { }
          }) // get skill set by position Name
          .then(function (response) {
            vm.skill_courses.splice(i, 0, response.data.data["Skill_Rewarded"]);
          });
        }, //get_skills_rewarded

        update_learning_journey: function(){
          let datalist = [];
          let noError = true;

          console.log(vm.selected_courses);

          if(vm.selected_courses.length == 0){
            vm.error = "You must select only one course for each skill";
            noError = false;
          }

          let existing_skills = []
          let needed_skills = vm.skill_sets.length;

          for(let i=0; i<vm.selected_courses.length; i++){
            // check if all skills have at least one course
            let course = vm.selected_courses[i]
            existing_skills.push(course.Skill_Name);
          }

          if (existing_skills.length < needed_skills){
            vm.error = "You must select only one course for each skill";
            noError = false;
          }

          var set = new Set(existing_skills);
          if(existing_skills.length !== new Set(existing_skills).size){
            vm.error = "You must select one course for each skill";
            noError = false;
          }

          console.log(noError);

          if(noError==true) {
            for(let i=0; i<vm.selected_courses.length; i++){
                let course = vm.selected_courses[i];
                let skill_name = course.Skill_Name;
                let course_ID = course.Course_ID;
                let temp_data = {
                  "Skill_Name": skill_name,
                  "Course_ID": course_ID
                };
                console.log("lj data", temp_data);
                datalist.push(temp_data);
            } // for loop
            
            console.log(datalist);
            var code = 200;
            var message = "Successfully updated learning journey"
            console.log("vm.lj_id_list",vm.lj_id_list);
            for (i = 0; i < vm.lj_id_list.length; i++){
              console.log(vm.lj_id_list[i]);
              console.log(datalist[i]);
              let config = {
                method: 'PUT',
                url: "http://127.0.0.1:5000/update_learning_journey/" + vm.lj_id_list[i],
                data: datalist[i],
              };
              axios(config)
                  .then(function (response) {
                    if(response.data.code != 200){
                      code = response.data.code;
                      message = response.data[0].message;
                    }
                  }) // axios
            } // for loop
            if(code == 200){
              alert(message);
              location.href = "homepage.html"
            } else{
              alert(message);
            }

          } // if(noError) statement
        }, // update_learning_journey
      }, //methods
    }) // vue app
  </script>

<script>
  function clearSession() {
    sessionStorage.clear();
    window.location.replace('role_toggle.html');
  }
</script>

</body>

</html>